@charset "utf-8";

body {
  color: #fff;
  background-color: #333;
}

.g_body {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.header {
  width: 400px;
  margin: 0 auto;
}
.inner {
  width: 1200px;
  margin: 0 auto;
}
h2 {
  margin-bottom: 5px;
  font-size: 20px;
  text-align: center;
}

#btn_wrap {
  height: 60px;
  text-align: center;

  button {
    display: none;
    padding: 10px;
    margin: 10px;
    color: #333;
    background-color: #b5d692;
    border-radius: 15%;

    &.active {
      display: inline;
    }

    &.off {
      background-color: #475737;
      cursor: default;
      border: 1px outset #000;
    }
  }


}

.game_score {
  height: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #afafff;
  text-align: center;
}

#play_info {
  margin-bottom: 5px;
  font-size: 16px;
  text-align: center;
}

/* 같은그림 출력 창 */
#cards {
  float: left;
  width: 800px;
  height: 800px;
  border: 1px solid #b5d692;

  &:after {
    display: block;
    clear: both;
    content: '';
  }

  p {
    font-size: 20px;
    line-height: 800px;
    text-align: center;
  }

  &.on .card {
    display: block;
  }

  &.off .card {
    display: none;
  }

  &.show .face_front {
    display: none;
  }

  &.show .face_back {
    display: block;
  }

  .card {
    position: relative;
    display: none;
    float: left;
    width: 25%;
    height: 25%;
    cursor: pointer;
    border-bottom: 1px solid #b5d692;
    border-left: 1px solid #b5d692;
    box-sizing: border-box;

    /* 하단 중복 선 제거 */
    &:nth-child(13),
    &:nth-child(14),
    &:nth-child(15),
    &:nth-child(16) {
      border-bottom: none;
    }

    /* 우측 중복 선 제거 */
    &:nth-child(1),
    &:nth-child(5),
    &:nth-child(9),
    &:nth-child(13) {
      border-left: none;
    }

    .face {
      width: 100%;
      height: 100%;
      font-size: 100px;
      text-align: center;
      line-height: 200px;
    }

    /* 카드 체크 / 완료 */
    .active,
    .clear {
      display: none;
    }

    .active+.face_back,
    .clear+.face_back {
      display: block;
    }
  }
}

.face_front {
  display: block;
}

.face_back {
  display: none;
  background: no-repeat center;
}

/* Score 출력 창 */
#score_board {
  display: inline-block;
  width: 400px;
  height: 500px;
  padding-left: 20px;
  overflow: hidden auto;

  div {
    display: block;
    width: 360px;
    margin: 0 5px 5px 0;
    border: 1px solid #b5d692;

    span {
      display: inline-block;
      width: 100px;
      height: 20px;
      padding: 5px 0;
      overflow-y: hidden !important;
      font-size: 15px;
      text-align: center;
      border-left: 1px solid #b5d692;

      &:first-child {
        width: 140px;
        border-left: none;
      }
    }
  }
}